<!DOCTYPE html>
<html>
<head>
  <title>Administrate</title>
  <%= stylesheet_link_tag    "administrate/application", media: "all" %>
  <%= javascript_include_tag "administrate/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
