.cell-label,
.attribute-label {
  color: $grey-4;
  font-size: $small-font-size;
  font-weight: $normal-font-weight;
  letter-spacing: 0.0357em;
  text-transform: uppercase;
}

.cell-data--number,
.cell-label--number {
  text-align: right;
}
