<%= simple_form_for(@presenter.resource) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% @presenter.attribute_names.each do |attr_name| %>
      <%= f.input attr_name %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
