<%= form_for(@presenter.resource) do |f| %>
  <div class="form-inputs">
    <% @presenter.attribute_names.each do |attr_name| -%>
      <div class="field">
        <%= @presenter.render_form_label(f, attr_name) %><br>
        <%= @presenter.render_form_field(f, attr_name) %>
      </div>
    <% end -%>
  </div>

  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
