<p id="notice"><%= notice %></p>

<h1><%= @page.resource_name.pluralize.titleize %></h1>
<%= link_to "New #{@page.resource_name.titleize.downcase}",
  [:new, @page.resource_name] %>

<%= render "table", table_presenter: @page, resources: @resources %>
