<header class="header">
  <h1 class="header-heading">New <%= @page.resource_name.titleize %></h1>
  <%= link_to 'Back', @page.resource_name.pluralize, class: "button" %>
</header>

<%= render 'form' %>
