<%# locals: (collection_presenter:, collection_field_name:, page:, resource:, attribute:, attribute_counter: nil, attribute_iteration: nil) %>

<td class="cell-data cell-data--<%= attribute.html_class %>">
  <%= yield %>
</td>
