<%#
# Collection

This partial is used on the `index` and `show` pages
to display a collection of resources in an HTML table.

## Local variables:

- `collection_presenter`:
  An instance of [Administrate::Page::Collection][1].
  The table presenter uses `ResourceDashboard::COLLECTION_ATTRIBUTES` to determine
  the columns displayed in the table
- `resources`:
  An ActiveModel::Relation collection of resources to be displayed in the table.
  By default, the number of resources is limited by pagination
  or by a hard limit to prevent excessive page load times

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>
<%# locals: (collection_presenter:, collection_field_name:, page:, resources:, table_title:, resource_class: nil) %>

<table aria-labelledby="<%= table_title %>" data-controller="table" data-action="click->table#visitDataUrl keydown->table#visitDataUrl">
  <thead>
    <tr>
      <%= render(
        partial: 'collection_header_item',
        layout: 'collection_header_item_layout',
        collection: collection_presenter.attribute_types.to_a,
        as: :attribute_type,
        locals: {
          collection_presenter: collection_presenter,
          collection_field_name: collection_field_name,
          page: page
        }
      ) %>
      <%= render(
        "collection_header_actions",
        collection_presenter: collection_presenter,
        page: page,
        resources: resources,
        table_title: "page-title"
      ) %>
    </tr>
  </thead>

  <tbody>
    <%= render(
      partial: "collection_item",
      layout: "collection_item_layout",
      collection: resources,
      as: :resource,
      locals: {
        collection_presenter: collection_presenter,
        collection_field_name: collection_field_name,
        page: page
      }
    ) %>
  </tbody>
</table>
