<form class="search">
  <span class="search__icon">
    <%= svg_tag "administrate/search.svg", "search", width: 16, height: 16 %>
  </span>
  <input
    type="text"
    name="search"
    class="search__input"
    placeholder="Search"
    value="<%= search_term %>"
    aria-label="Search"
  />
  <span class="search__hint">
    Press enter to search
  </span>
  <span class="search__clear">
    <%= link_to clear_search_params do %>
      <%= svg_tag "administrate/cancel.svg", "cancel-search", width: 16, height: 16 %>
    <% end %>
  </span>
</form>
