<form class="search" role="search">
  <span class="search__icon">
    <svg aria-hidden="true">
      <use xlink:href="#icon-eyeglass" />
    </svg>
  </span>
  <input
    type="text"
    name="search"
    class="search__input"
    placeholder="<%= t("administrate.search.placeholder") %>"
    value="<%= search_term %>"
    aria-label="Search"
  />
  <span class="search__hint">
    <%= t("administrate.search.hint") %>
  </span>
  <span class="search__clear">
    <%= link_to clear_search_params do %>
      <svg role="img">
        <title>Clear search</title>
        <use xlink:href="#icon-cancel" />
      </svg>
    <% end %>
  </span>
</form>
