<div style="padding: 20px">
  <h1>Stats</h1>
  <br>
  <p>Stats are only visible to Admin. <%= link_to("Become the Admin", become_admin_customer_path("admin"), class: "identity__become-action") %></p>
</div>
