!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/spec/example_app/log/*
/spec/example_app/tmp/*
!/spec/example_app/log/.keep
!/spec/example_app/tmp/.keep
/spec/example_app/public/system
/spec/example_app/public/assets

/spec/example_app/app/assets/builds/*
!/spec/example_app/app/assets/builds/.keep

/spec/example_app/node_modules
/spec/example_app/config/database.yml
/spec/example_app/storage

/node_modules
/public

/tags
pkg
*.ipr
*.iws
*.iml
/.idea
.byebug_history
gemfiles/.bundle/
.yardoc
/doc
*.gem
