!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/spec/example_app/log/*
/spec/example_app/tmp/*
!/spec/example_app/log/.keep
!/spec/example_app/tmp/.keep
/spec/example_app/public/system
/spec/example_app/public/assets
/spec/example_app/public/packs
/spec/example_app/public/packs-test
/spec/example_app/node_modules
/spec/example_app/yarn-error.log
/spec/example_app/yarn-debug.log*
/spec/example_app/.yarn-integrity
/tags
pkg
*.ipr
*.iws
*.iml
/.idea
.byebug_history
gemfiles/.bundle/
.yardoc
/doc
public/*packs
public/*packs-test
node_modules

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

