!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/spec/example_app/log/*
/spec/example_app/tmp/*
!/spec/example_app/log/.keep
!/spec/example_app/tmp/.keep
/spec/example_app/public/system
/spec/example_app/public/assets
/tags
pkg
*.ipr
*.iws
*.iml
/.idea
.byebug_history
gemfiles/.bundle/
.yardoc
/doc
/node_modules
