.sidebar {
  flex: 0 0 $sidebar-width;
  overflow-y: auto;

  &-logo {
    height: 6em;

    img {
      display: block;
      height: 100%;
      padding-top: $base-spacing;
    }
  }

  &-list {
    @include fill-parent;
  }

  a {
    @include fill-parent;
    color: $base-font-color;
    display: block;
    padding-top: $base-spacing;
    transition: color 0.05s linear;

    &.active {
      color: $blue;
      font-weight: $bold-font-weight;
    }

    &:hover {
      color: $blue;
    }
  }
}
