<% if field.resources.any? %>
  <%= render(
    "table",
    table_presenter: field.associated_table,
    resources: field.resources
  ) %>

  <% if field.more_than_limit? %>
    <span>
      <%= t(
        'administrate.fields.has_many.more',
        count: field.limit,
        total_count: field.data.count,
      ) %>
    </span>
  <% end %>

<% else %>
  <%= t("administrate.fields.has_many.none") %>
<% end %>
