<% if existing_action?(collection_presenter.resource_name, :edit) %>
  <td><%= link_to(
    t("administrate.actions.edit"),
    [:edit, namespace, resource],
    class: "action-edit",
  ) if authorized_action?(resource, :edit) %></td>
<% end %>

<% if existing_action?(collection_presenter.resource_name, :destroy) %>
  <td><%= button_to(
    t("administrate.actions.destroy"),
    [namespace, resource],
    class: "link link--danger",
    method: :delete,
    data: { turbo_confirm: t("administrate.actions.confirm") }
  ) if authorized_action?(resource, :destroy) %></td>
<% end %>

<td>
  <%= link_to("Become", become_admin_customer_path(resource), class: "identity__become-action") %>
</td>
