<% content_for(:header_middle) do %>
  <p class="identity__banner">You are logged in as <em><%= pundit_user.name %></em>. <%= link_to("Become the Admin", become_admin_customer_path("admin"), class: "identity__become-action")%></p>
<% end %>

<%= render template: 'administrate/application/_index_header', locals: local_assigns %>
