<% content_for(:header_middle) do %>
  <div>
    You are logged in as <em><%= pundit_user.name %></em>.
    <%= link_to("Become the Admin", become_admin_customer_path("admin")) unless pundit_user.admin? %>
  </div>
<% end %>

<%= render template: 'administrate/application/_index_header', locals: local_assigns %>
