<%#
# HasOne Form Partial

This partial renders an input element for has_one relationships.

At the moment, has_one form fields are not supported,
so this partial renders a message to that effect.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::HasOne][1].
  A wrapper around the has_one relationship pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/HasOne
%>

<%= f.fields_for field.attribute, field.data || field.nested_form.resource.class.new do |has_one_f| %>
  <fieldset class="field-unit--nested">
    <legend><%= field.nested_form.resource_name.titleize %></legend>
    <% field.nested_form.attributes.each do |attribute| -%>
      <div class="field-unit field-unit--<%= attribute.html_class %>">
        <%= render_field attribute, f: has_one_f %>
      </div>
    <% end -%>
  </fieldset>
<% end %>
