<%#
# HasOne Form Partial

This partial renders an input element for has_one relationships.

At the moment, has_one form fields are not supported,
so this partial renders a message to that effect.

## Local variables:

- `f`:
  A Rails form generator, used to help create the appropriate input fields.
- `field`:
  An instance of [Administrate::Field::HasOne][1].
  A wrapper around the has_one relationship pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/HasOne
%>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>

<%= t("administrate.fields.has_one.not_supported") %>
