<%#
# HasOne Show Partial

This partial renders a has_one relationship,
to be displayed on a resource's show page.

All fields of has_one relationship would be rendered

## Local variables:

- `field`:
  An instance of [Administrate::Field::HasOne][1].
  A wrapper around the has_one relationship pulled from the database.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/HasOne
%>

<% if field.data %>
  <fieldset class="attribute--nested">
    <legend>
      <%= link_to(
        field.display_associated_resource,
        [namespace, field.data],
      ) %>
    </legend>
    <% field.nested_form.attributes.each do |attribute| -%>
      <div>
      <dt class="attribute-label">
        <%= t(
          "helpers.label.#{resource_name}.#{attribute.name}",
          default: attribute.name.titleize,
        ) %>
      </dt>
      <dd class="attribute-data attribute-data--<%= attribute.html_class %>">
        <%= attribute.data %>
      </dd>
      </div>
    <% end -%>
  </fieldset>
<% end %>
