@mixin flash($color) {
  background: $color;
  color: darken($color, 60);
  margin-bottom: $base-spacing;

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}

.flash {
  border-radius: $base-border-radius;
  padding: $base-spacing / 2;

  &--alert {
    @include flash($alert-color);
  }

  &--error {
    @include flash($error-color);
  }

  &--notice {
    @include flash($notice-color);
  }

  &--success {
    @include flash($success-color);
  }
}
