<%#
# Enum Show Partial

This partial renders an enum attribute,
to be displayed on a resource's show page.

By default, the attribute is rendered as text with
whitespace preserved.

## Local variables:

- `field`:
  An instance of [Administrate::Field::Enum][1].
  A wrapper around the enum value mapped by ActiveRecord.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Field/Enum
%>

<span class="preserve-whitespace"><%= field.data.humanize %></span>
