/* stylelint-disable scss/dollar-variable-empty-line-before */
:root {
  --base-line-height: 1.5;
  --heading-line-height: 1.2;

  // Other Sizes
  --base-border-radius: 4px;
  --base-spacing: calc(var(--base-line-height) * 1em);
  --small-spacing: calc(var(--base-spacing) * 0.5);
  --search-icon-size: 1rem;

  // Typography
  --base-font-family: -apple-system, blinkmacsystemfont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  --heading-font-family: var(--base-font-family);
  --base-font-size: 1em;
  --bold-font-weight: 700;

  // Colors
  --white: #ffffff;
  --black: #000000;
  --blue: #1976d2;
  --red: #d32f2f;
  --grey-0: #f6f7f7;
  --grey-1: #f2f2f2;
  --grey-2: #dfe0e1;
  --grey-5: #adb5bd;
  --grey-7: #293f54;
  --danger-color: var(--red);

  // Eventually: color-mix(in srgb, var(--black) 20%, var(--danger-color))
  --danger-color-active: #a92626;
  --hint-grey: #7b808c;
  --base-font-color: var(--grey-7);
  --action-color: var(--blue);

  // Eventually: color-mix(in srgb, var(--black) 20%, var(--action-color))
  --action-color-active: #145ea8;

  // Background Colors
  --base-background-color: var(--grey-0);

  // Eventually: color-mix(in srgb, var(--black) 5%, var(--base-background-color));
  --base-background-color-alt: #eaebeb;

  // Focus
  --focus-outline-color: rgb(from var(--action-color) r g b / 40%);
  --focus-outline-width: 3px;
  --focus-outline-offset: 1px;
  --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);

  // Flash Colors
  // Note: all but the light-* colors can go away as soon as we feel like we
  // can support color-mix. See commented code in `components/_flashes.scss`
  --light-yellow: #fff6bf;
  --alert-background-color: var(--light-yellow);
  --alert-text-color: #66624c;
  --alert-link-color: #1a1913;
  --alert-link-hover-color: #1a1913;
  --light-red: #fbe3e4;
  --error-background-color: var(--light-red);
  --error-text-color: #645b5b;
  --error-link-color: #4b4444;
  --error-link-hover-color: #191717;
  --light-blue: #e5edf8;
  --notice-background-color: var(--light-blue);
  --notice-text-color: #5c5f63;
  --notice-link-color: #45474a;
  --notice-link-hover-color: #171819;
  --light-green: #e6efc2;
  --success-background-color: var(--light-green);
  --success-text-color: #5c604e;
  --success-link-color: #45483a;
  --success-link-hover-color: #171813;

  // Border
  --base-border-color: var(--grey-2);
  --base-border: 1px solid var(--base-border-color);
  --main-content-shadow: 0 0 6px 0 rgb(from var(--black) r g b / 12%),
                         0 2px 2px rgb(from var(--black) r g b / 20%);

  // Eventually: color-mix(in srgb, var(--black) 20%, var(--base-border-color));
  --base-border-color-hover: rgb(178.4 179.2 180);

  // Transitions
  --base-duration: 250ms;
  --base-timing: ease-in-out;
}

/* stylelint-enable scss/dollar-variable-empty-line-before */
