// Typography
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$heading-font-family: $base-font-family;

$base-font-size: 1em;

$bold-font-weight: 700;

$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 4px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;

// Colors
$white: #fff;
$black: #000;

$blue: #1976d2;
$red: #d32f2f;
$light-yellow: #f0cd66;
$light-green: #4ab471;

$grey-0: #f6f7f7;
$grey-1: #dfe0e1;
$grey-2: #cfd8dc;
$grey-5: #adb5bd;
$grey-7: #293f54;

$hint-grey: #7b808c;

// Font Colors
$base-font-color: $grey-7;
$action-color: $blue;

// Background Colors
$base-background-color: $grey-0;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 1px;

// Flash Colors
$flash-colors: (
  alert: $light-yellow,
  error: $red,
  notice: mix($white, $blue, 50%),
  success: $light-green
);

// Border
$base-border-color: $grey-1;
$base-border: 1px solid $base-border-color;

// Transitions
$base-duration: 250ms;
$base-timing: ease-in-out;
