/* Error: Undefined variable.
 *    ,
 * 63 |   background-color: $blue;
 *    |                     ^^^^^
 *    '
 *   app/assets/stylesheets/administrate/components/_search.scss 63:21  @import
 *   app/assets/stylesheets/administrate/application.scss 29:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 63 \2502    background-color: $blue;\a    \2502                      ^^^^^\a    \2575 \a   app/assets/stylesheets/administrate/components/_search.scss 63:21  @import\a   app/assets/stylesheets/administrate/application.scss 29:9          root stylesheet";
}
