// Typography
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$dark-blue: #214A63;
$blue: #2D6586;
$light-blue: #337799;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$grey-0: #ECF3F9;
$grey-1: #E4EDF6;
$grey-2: #CFD8DC;
$grey-3: #90ACAD;
$grey-4: #648687;
$grey-5: #4E6A68;
$grey-6: #344346;
$grey-7: #263238;

// Background Color
$sidebar-active-color: $blue;
$sidebar-hover-color: $light-blue;
$base-background-color: $dark-blue;
$content-background-color: $grey-0;

// Font Colors
$base-font-color: $grey-7;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $light-blue;
$hover-link-color: $blue;
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $grey-2;
$base-border: 1px solid $base-border-color;
$dark-border-color: $grey-3;
$dark-border: 1px solid $dark-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
