.sidebar {
  flex: 0 0 auto;
  max-width: 12em;
  overflow-y: auto;
  padding: 0 $base-spacing;

  &__link {
    @include fill-parent;
    color: $base-font-color;
    display: block;
    padding-top: $base-spacing;
    transition: color 0.05s linear;

    &--active {
      color: $blue;
      font-weight: $bold-font-weight;
    }

    &:hover {
      color: $blue;
    }
  }
}
