html,
body,
.main {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: $base-background-color;
}

.main {
  @include clearfix;
  align-items: stretch;
  display: flex;
  margin: 0 auto;
  max-width: 100em;
}

.container {
  @include card(1);
  background-color: $white;
  flex: 1;
  overflow-y: auto;
}

.content {
  padding: $base-spacing;
}
