fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: var(--bold-font-weight);
  margin: 0;
  padding: 0;
}

label {
  display: block;
  font-weight: var(--bold-font-weight);
  margin: 0;
}

input,
select {
  display: block;
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
}

input,
select,
textarea {
  display: block;
  font-family: var(--base-font-family);
  font-size: 16px;
}

[type="color"],
[type="date"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
  appearance: none;
  background-color: var(--white);
  border: var(--base-border);
  border-radius: var(--base-border-radius);
  padding: 0.5em;
  transition: border-color var(--base-duration) var(--base-timing);
  width: 100%;

  &:hover {
    border-color: mix($black, var(--base-border-color), 20%);
  }

  &:focus {
    border-color: var(--action-color);
    outline: none;
  }

  &:disabled {
    background-color: mix($black, var(--white), 5%);
    cursor: not-allowed;

    &:hover {
      border: var(--base-border);
    }
  }

  &::placeholder {
    font-style: italic;
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: var(--small-spacing) * 0.5;
}

[type="file"] {
  width: 100%;
}

select {
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}
