html {
  background-color: $base-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

figure {
  margin: 0;
}

/* stylelint-disable selector-no-qualifying-type, selector-class-pattern */
form.button_to { // we don't control this class name
  display: contents;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
