table {
  border-collapse: separate;
  width: 100%;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  text-align: left;
}

th,
td {
  padding: $small-spacing;
  vertical-align: middle;
}

td {
  border-bottom: $base-border;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
