fieldset {
  background: lighten($base-border-color, 10);
  border: $base-border;
  margin: 0 0 ($base-spacing / 2) 0;
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  font-weight: bold;
  margin-bottom: $base-spacing / 4;

  &.required:after {
    content: "*";
  }

  abbr {
    display: none;
  }
}

textarea,
#{$all-text-inputs},
select {
  background-color: white;
  border-radius: $form-border-radius;
  border: 1px solid $form-border-color;
  box-shadow: $form-box-shadow;
  box-sizing: border-box;
  font-family: $form-font-family;
  font-size: $form-font-size;
  margin-bottom: $base-spacing / 2;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  transition: border-color;
  width: 100%;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
    outline: none;
  }

  @include placeholder {
    color: $hint-grey;
  }
}

textarea {
  resize: vertical;
}

input[type="search"] {
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type="file"] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  appearance: none;
  background: image-url("dropdown.svg") no-repeat 97% 50% / 10px;
  margin-bottom: $base-spacing;
}
