table {
  border-collapse: separate;
  width: 100%;
}

th {
  border-bottom: $dark-border;
  padding-bottom: $small-spacing;
  text-align: left;
}

td {
  border-bottom: $base-border;
  overflow: hidden;
  padding: $small-spacing 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

td,
th {
  &:first-child {
    padding-left: 1em;
  }
}

tr,
td,
th {
  vertical-align: middle;
}
