// Typography
$sans-serif: "Lato", $helvetica;
$serif: $georgia;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$small-font-size: 0.875em;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

// Font Weights
$light-font-weight: 300;
$normal-font-weight: 400;
$bold-font-weight: 900;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;
$small-spacing: $base-spacing / 2;

// Transitions
$base-easing: cubic-bezier(0.215, 0.610, 0.355, 1);
$base-timing: 0.25s;
$base-transition: all $base-timing $base-easing;

// Colors
$dark-blue: #293f53;
$blue: #2a94d6;
$light-blue: #4eb1cb;
$light-red: #c77067;
$light-yellow: #f0cd66;
$light-green: #4ab471;

$form-field-background-color: #fff;
$white: #fff;
$grey-0: #f6f7f7;
$grey-1: #dfe0e1;
$grey-2: #cfd8dc;
$grey-7: #293f54;

$hint-grey: #7b808c;

$base-background-color: $grey-0;

// Font Colors
$base-font-color: $grey-7;
$base-accent-color: $blue;

// Override text inputs for lower specificity
$all-text-inputs: '[type="color"]',
                  '[type="date"]',
                  '[type="datetime"]',
                  '[type="datetime-local"]',
                  '[type="email"]',
                  '[type="month"]',
                  '[type="number"]',
                  '[type="password"]',
                  '[type="search"]',
                  '[type="tel"]',
                  '[type="text"]',
                  '[type="time"]',
                  '[type="url"]',
                  '[type="week"]';

// Link Colors
$base-link-color: $blue;
$hover-link-color: shade($blue, 10);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $grey-1;
$base-border-size: 1px;
$base-border: $base-border-size solid $base-border-color;
$dark-border-color: $grey-2;
$dark-border: $base-border-size solid $dark-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
