<% content_for(:title) { "New #{@page.resource_name.titleize}" } %>

<header class="header">
  <h1 class="header-heading"><%= content_for(:title) %></h1>
  <%= link_to 'Back', @page.resource_name.pluralize, class: "button" %>
</header>

<%= render 'form' %>
