<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag "docs", media: "all" %>
  <link href='//fonts.googleapis.com/css?family=Lato|Source+Code+Pro|Fjalla+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
</head>

<body>
  <div class="content">
    <div class="sidebar">
      <h1>Administrate</h1>

      <ul class="sidebar-links">
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/thoughtbot/administrate">GitHub</a></li>
        <li><a href="https://github.com/thoughtbot/administrate/issues/new">Feedback</a></li>
        <li><a href="/contributing">Contributing Guide</a></li>
        <li><a href="/license">LICENSE</a></li>
      </ul>

      <h3>Guides</h3>

      <ul class="sidebar-links">
        <li><a href="/begin_here">Begin Here</a></li>
        <li><a href="/customizing_dashboards">Customizing Dashboards</a></li>
        <li><a href="/customizing_page_views">Customizing Page Views</a></li>

        <li><a href="/normalized_fields">Normalized Fields</a></li>
        <li><a href="/specialized_fields">Specialized Fields</a></li>

        <li><a href="/pages_backed_by_no_model">Pages Backed by No Model</a></li>
        <li><a href="/specialized_actions">Specialized Actions</a></li>
        <li><a href="/sessions">Sessions</a></li>
        <li><a href="/permissions">Permissions</a></li>

        <li><a href="/rails_api">Rails API</a></li>
        <li><a href="/extending_administrate">Extending Administrate</a></li>
        <li><a href="/hiding_dashboards_from_sidebar">Hiding Dashboards from the Sidebar</a></li>
        <li><a href="/customising_search">Customising the search</a></li>
        <li><a href="/scoping_has_many_relations.md">Scoping HasMany Relations</a></li>
      </ul>
    </div>

    <div class="main">
      <%= yield %>
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
