.form {
  &-actions {
    margin-left: 12em;
  }

  &-heading {
    font-size: 1.75em;
    margin: 0;
    padding-bottom: 0.5em;
  }

  &-inputs {
    .field {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      margin: 1.2em 0;
      label {
        width: 10em;
        text-align: right;
        margin-right: 2em;
      }
      input, select {
        max-width: 30em;
      }
    }
  }
}
