.table-row {
  background-color: #fff;
  border-left: 2px solid transparent;
  transition: $base-transition;

  &:hover {
    background-color: $grey-0;
    border-left-color: $blue;
    cursor: pointer;
  }
}
