button,
[type="button"],
[type="reset"],
[type="submit"],
.button {
  appearance: none;
  background-color: var(--action-color);
  border: 0;
  border-radius: $base-border-radius;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: $bold-font-weight;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(.link):hover {
    background-color: color-mix(in srgb, var(--black) 20%, var(--action-color));
    color: var(--white);
  }

  &:not(.link):focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }

  &:not(.link):disabled:hover {
    background-color: var(--action-color);
  }
}

.button--alt {
  background-color: transparent;
  border: $base-border;
  border-color: var(--action-color);
  color: var(--action-color);
}

.button--danger {
  background-color: var(--red);

  &:hover {
    background-color: color-mix(in srgb, var(--black) 20%, var(--red));
    color: var(--white);
  }
}

.button--nav {
  margin-bottom: $base-spacing;
}
