.cell-label {
  @include data-label;

  a {
    @include fill-parent;
    color: inherit;
    display: inline-block;
    transition: $base-transition;
  }

  &--asc,
  &--desc {
    font-weight: bold;
  }

  &__sort-indicator {
    display: inline-block;
    height: 1em;
    overflow: hidden;
    position: absolute;
    right: 0;

    &--desc {
      transform: rotate(180deg);
    }

    svg {
      height: 100%;
      width: 1em;
      transition: $base-transition;
      fill: $hint-grey;
    }
  }

  &:hover {
    a {
      color: $base-accent-color;
    }

    svg {
      fill: $base-accent-color;
      transform: rotate(180deg);
    }
  }
}

.cell-data--number,
.cell-label--number {
  text-align: right;
}
