.cell-label {
  padding-top: 0.15em;

  &:hover {
    a {
      color: var(--action-color);
    }

    svg {
      fill: var(--action-color);
      transform: rotate(180deg);
    }
  }

  a {
    color: inherit;
    display: inline-block;
    transition: color var(--base-duration) var(--base-timing);
    width: 100%;
  }
}

.cell-label--asc,
.cell-label--desc {
  font-weight: var(--bold-font-weight);
}

.cell-label__sort-indicator {
  float: right;
  margin-left: 5px;

  svg {
    fill: var(--hint-grey);
    height: 13px;
    transition: transform var(--base-duration) var(--base-timing);
    width: 13px;
  }
}

.cell-label__sort-indicator--desc {
  transform: rotate(180deg);
}

.cell-data--number,
.cell-label--number {
  text-align: right;
}
