.field-unit {
  @include fill-parent;
  @include administrate-clearfix;
  align-items: center;
  display: flex;
  margin-bottom: $base-spacing;
  position: relative;
}

.field-unit__label {
  @include span-columns(2 of 12);
  text-align: right;
}

.field-unit__field {
  @include span-columns(5 of 12);
}
