.field-unit {
  @include clearfix;
  align-items: center;
  display: flex;
  margin-bottom: $base-spacing;
  position: relative;
  width: 100%;
}

.field-unit__label {
  float: left;
  margin-left: 1rem;
  text-align: right;
  width: calc(15% - 1rem);
}

.field-unit__field {
  float: left;
  margin-left: 2rem;
  width: 45%;
}
