.form-actions {
  @include shift(2);
}

.form-field {
  @include clearfix;
  @include fill-parent;
  align-items: baseline;
  width: 100%;

  label {
    @include data-label;
    @include span-columns(2 of 12);
    padding: $form-input-padding 0;
    text-align: right;
  }

  #{$all-text-inputs},
  select,
  textarea,
  .selectize-control {
    background-color: $form-field-background-color;
    margin-bottom: $base-spacing;
  }

  input,
  select,
  .selectize-control {
    @include span-columns(4 of 12);
  }

  textarea {
    @include span-columns(6 of 12);
  }

  [type="checkbox"],
  [type="radio"] {
    margin: $small-spacing 0 ($base-spacing + $form-input-padding);
    width: auto;
  }
}
