.header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: $base-spacing;
}

.header__heading {
  font-size: 1.75em;
  margin-top: 0;
}

.header__actions {
  margin-left: $base-spacing;
}
