.header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  padding: $base-spacing;

  &-heading {
    font-size: modular-scale(3);
    margin-top: 0;
  }

  &-actions {
    margin-left: $base-spacing;
  }
}
