.navigation {
  flex: 1 0 10rem;
  padding: 1.5em;
  padding-left: 0;
}

.navigation__link {
  background-color: transparent;
  color: #293f54;
  display: block;
  line-height: 1;
  margin-left: -0.6em;
  padding: 0.6em;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.navigation__link:not(:last-of-type) {
  margin-bottom: 0.75em;
}
.navigation__link:hover {
  background-color: #eaebeb;
  border-radius: 4px;
  color: #293f54;
}

.navigation__link--active {
  font-weight: 700;
}
