.pagination {
  margin-top: $base-spacing;
  padding-left: $base-spacing;
  padding-right: $base-spacing;
  text-align: center;

  li {
    display: inline-block;
    margin: $small-spacing;
  }

  .current {
    font-weight: $bold-font-weight;
  }
}
