.pagination {
  @include margin($base-spacing null ($base-spacing * 4));
  @include padding(null $base-spacing);
  text-align: center;

  li {
    display: inline-block;
    margin: $small-spacing;
  }

  .current {
    font-weight: $bold-font-weight;
  }
}
