.search {
  margin-left: auto;
  margin-right: 2rem;
  max-width: 20rem;
  position: relative;
  width: 100%;
}

.search__input {
  border-radius: 100rem;
  padding-left: calc(var(--search-icon-size) * 2.5);
  padding-right: calc(var(--search-icon-size) * 2.5);
}

.search__eyeglass-icon {
  height: var(--search-icon-size);
  left: var(--search-icon-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--search-icon-size);
}

.search__clear-link {
  height: var(--search-icon-size);
  position: absolute;
  right: calc(var(--search-icon-size) * 0.75);
  top: 50%;
  transform: translateY(-50%);
  width: var(--search-icon-size);
}

.search__clear-icon {
  color: var(--grey-5);
  height: var(--search-icon-size);
  position: absolute;
  transition: fill var(--base-duration) var(--base-timing);
  width: var(--search-icon-size);

  &:hover {
    color: var(--action-color);
  }
}

.search__tooltip {
  anchor-name: --tooltip-anchor;
  margin-right: 2rem;

  svg {
    color: var(--grey-5);
    height: 24px;
    width: 24px;

    &:hover {
      color: var(--action-color);
    }
  }
}

.search__tooltip-popover {
  background-color: var(--blue);
  border-color: var(--blue);
  border-radius: var(--base-border-radius);
  color: var(--white);
  padding: 2rem;
  width: max-content;
}


/* We can remove this stylelint disable (and the css-anchor-positioning polyfill)
   when position-anchor becomes widely available */

/* stylelint-disable property-no-unknown */
.search__tooltip-popover-positioning {
  left: anchor(center);
  margin: 1rem;
  position: fixed;
  position-anchor: --tooltip-anchor;
  top: anchor(bottom);
  transform: translateX(-50%);
}

.search__tooltip-popover-value {
  opacity: 0.5;
}
