.search {
  margin-left: auto;
  margin-right: 2rem;
  max-width: 20rem;
  position: relative;
  width: 100%;
}

.search__input {
  border-radius: 100rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.search__eyeglass-icon {
  fill: #293f54;
  height: 1rem;
  left: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
}

.search__clear-link {
  height: 1rem;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
}

.search__clear-icon {
  fill: #adb5bd;
  height: 1rem;
  position: absolute;
  transition: fill 250ms ease-in-out;
  width: 1rem;
}
.search__clear-icon:hover {
  fill: #1976d2;
}
