.sidebar {
  flex: 0 0 auto;
  max-width: 12em;
  overflow-y: auto;
  padding: 0 $base-spacing;

  &__item {
    &:last-child {
      margin-bottom: $base-spacing;
    }
  }

  &__link {
    color: $base-font-color;
    display: block;
    margin-top: $base-spacing;
    transition: color 0.05s linear;

    &--active {
      color: $blue;
      font-weight: $bold-font-weight;
    }

    &:hover {
      color: $blue;
    }
  }
}
