.collection-data {
  padding-left: $base-spacing;
  padding-right: $base-spacing;
}

.table__row {
  background-color: $white;
  border-left: 2px solid transparent;
  transition: background-color $base-duration $base-timing;

  &:hover {
    background-color: $base-background-color;
    border-left-color: $blue;
    cursor: pointer;
  }

  img {
    max-height: 2em;
  }
}

.table__action--destroy {
  color: $light-red;
}

.table__link-plain {
  color: inherit;

  &:hover {
    color: inherit;
  }
}
