.sidebar {
  flex: 0 0 280px;
  height: 100%;
  overflow-y: auto;

  &-logo {
    align-items: center;
    display: flex;
    height: 6em;
    justify-content: space-between;
    padding: 0 1em;

    img {
      display: block;
      height: 80%;
      padding-top: 1em;
    }

    &-heading {
      color: $grey-0;
      font-size: 1.6em;
    }
  }

  &-list {
    @include fill-parent;
  }

  a {
    @include fill-parent;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: $grey-0;
    display: block;
    padding: 0.5em 1em;
    transition: background-color 0.05s linear;

    &.active {
      @include card(1);
      background-color: $sidebar-active-color;
    }

    &:hover {
      @include card(1);
      background-color: $sidebar-hover-color;
    }
  }
}
