<ul class="sidebar">
  <div class="logo">
    <%= image_tag "logo.svg" %>
  </div>
  <li><%= link_to "Customers", customers_path %></li>
  <li><%= link_to "Products", customers_path %></li>
  <li><%= link_to "Orders", customers_path %></li>
</ul>
