<ul class="sidebar">
  <div class="logo">
    <%= image_tag "logo.svg" %>
  </div>

  <% [:customers, :line_items, :orders, :products].each do |resource| %>
    <li>
      <%= link_to(
        resource.to_s.titleize,
        polymorphic_path(resource),
        class: link_class(resource)
      ) %>
    </li>
  <% end %>
</ul>
