---
name: Lint
on:
  push:
    branches:
      - 'main'
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  standardrb:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
    steps:
      - uses: actions/checkout@v6
      - name: StandardRB Linter
        uses: testdouble/standard-ruby-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  stylelint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up JS
        uses: actions/setup-node@v6
        with:
          cache: yarn
      - name: Install JS dependencies
        run: yarn install
      - name: Run Stylelint
        run: yarn run lint:css

  yard-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - name: Install Ruby dependencies
        run: bundle install
      - name: Run YARD Lint
        run: bundle exec yard-lint --diff origin/${{ github.base_ref }}
